@media screen and (max-width: 576px) {
    .news-banner .slick-prev:before {
        content: url('/icons/arrow_right_blue.svg');
    }
    
    .news-banner .slick-prev:hover:before {
        content: url('/icons/arrow_right_white.svg');
    }
    
    .news-banner .slick-next:before {
        content: url('/icons/arrow_left_blue.svg');
    }
    
    .news-banner .slick-next:hover:before {
        content: url('/icons/arrow_left_white.svg');
    }

    .news-banner .slick-prev {
        top: -40px !important;
        left: auto !important;
        right: 55px;
    }

    .news-banner .slick-next {
        top: -40px !important;
        right: 0 !important;
    }

    .news-banner .slick-prev:before, .slick-next:before {
        font-family: none;
        font-size: 0;
        line-height: 0;
    }
    
    .news-banner .news-arrow {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        background: #F7F8FA;
        padding: 1.4rem;
        border-radius: 50%;
    }
    
    .news-banner .news-arrow:hover {
        background: #0072BB;
        transition: 0.3s ease;
    }
    
    .news-banner .slick-dots {
        display: none !important;
    }
};
    
